<div class="d-flex justify-content-center">
  <div class="col-12 col-lg-5">
    <main class="form-signin">
      <form
        [formGroup]="registerForm"
        (ngSubmit)="register()"
        autocomplete="off"
      >
        <div class="text-center mb-4">
          <h3 class="mb-3 font-weight-normal">
            Let's Get Started
            <span>
              <span class="text-danger">Play</span>
            </span>
          </h3>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            placeholder="First name"
            class="form-control"
            formControlName="firstName"
            id="firstName"
            [class.is-invalid]="
              isSubmitted && registerForm.get('firstName')?.errors
            "
          />
          <label for="firstName">First name</label>
          @if (isSubmitted &&
          registerForm.get('firstName')?.hasError('required')) {
          <span class="text-danger">First Name is required.</span>
          } @if (isSubmitted &&
          (registerForm.get('firstName')?.hasError('minlength') ||
          registerForm.get('firstName')?.hasError('maxlength'))) {
          <span class="text-danger">
            First name must be at least 3, and maximum 15 characters
          </span>
          }
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            placeholder="Last name"
            class="form-control"
            formControlName="lastName"
            id="lastName"
            [class.is-invalid]="
              isSubmitted && registerForm.get('lastName')?.errors
            "
          />
          <label for="lastName">Last name</label>
          @if (isSubmitted &&
          registerForm.get('lastName')?.hasError('required')) {
          <span class="text-danger">Last Name is required.</span>
          } @if (isSubmitted &&
          (registerForm.get('lastName')?.hasError('minlength') ||
          registerForm.get('lastName')?.hasError('maxlength'))) {
          <span class="text-danger">
            Last name must be at least 3, and maximum 15 characters
          </span>
          }
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            placeholder="Email"
            class="form-control"
            formControlName="email"
            id="email"
            autocomplete="off"
            [class.is-invalid]="
              isSubmitted && registerForm.get('email')?.errors
            "
          />
          <label for="email">Email</label>
          @if (isSubmitted && registerForm.get('email')?.hasError('required')) {
          <span class="text-danger">Email is required</span>
          } @if (isSubmitted && registerForm.get('email')?.hasError('pattern'))
          {
          <span class="text-danger">Invalid email address</span>
          }
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            placeholder="password"
            class="form-control"
            formControlName="password"
            id="password"
            [class.is-invalid]="
              isSubmitted && registerForm.get('password')?.errors
            "
          />
          <label for="password">Password</label>
          @if (isSubmitted &&
          registerForm.get('password')?.hasError('required')) {
          <span class="text-danger">Password is required</span>
          } @if (isSubmitted &&
          (registerForm.get('password')?.hasError('minlength') ||
          registerForm.get('password')?.hasError('maxlength'))) {
          <span class="text-danger"
            >Password must be at least 6, and maximum 15 characters</span
          >
          }
        </div>

        @if (errorMessages.length > 0) {
        <div class="form-floatin">
          <app-validation-messages
            [errorMessages]="errorMessages"
          ></app-validation-messages>
        </div>
        }

        <div class="d-grid mt-4 px-1">
          <button class="btn btn-lg btn-info" type="submit">Register</button>
        </div>
      </form>

      <div class="mt-4 text-center">
        <a class="btn btn-link"> Forgot email or password </a>
      </div>
    </main>
  </div>
</div>
