<div class="d-flex justify-content-center">
  <div class="col-12 col-lg-5">
    <main class="form-signin">
      <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="login()">
        <div class="text-center mb-4">
          <h3 class="mb-3 font-weight-normal">Login</h3>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            formControlName="email"
            placeholder="Email"
            class="form-control"
            id="email"
            [class.is-invalid]="isSubmitted && loginForm.get('email')?.errors"
          />
          <label for="email">Email</label>
          @if (isSubmitted && loginForm.get('email')?.hasError('required')) {
          <span class="text-danger">Email is required.</span>
          }
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            formControlName="password"
            placeholder="password"
            class="form-control"
            id="password"
            [class.is-invalid]="
              isSubmitted && loginForm.get('password')?.errors
            "
          />
          <label for="password">Password</label>
          @if (isSubmitted && loginForm.get('password')?.hasError('required')) {
          <span class="text-danger">Password is required</span>
          }
        </div>

        @if (errorMessages.length > 0) {
        <div class="form-floatin">
          <app-validation-messages
            [errorMessages]="errorMessages"
          ></app-validation-messages>
        </div>
        }

        <div class="d-grid mt-4 px-1">
          <button class="btn btn-lg btn-info" type="submit">Log In</button>
        </div>
      </form>

      <div class="mt-4 text-center">
        <a class="btn btn-link"> Forgot email or password </a>
      </div>
    </main>
  </div>
</div>
